/* ================================== */
/* ------------- HEADER ------------- */
/* ================================== */

.header_container {
    width: 100%;
    height: 80px;
    /* background-color: rgb(235, 211, 27); */  
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
}

.header_title { 
    display: block;    
    font-size: 36px;
    color: #85ffff;
    font-weight: 600;
    text-align: left;    
    margin-left: 10px;
}

.header_menu {
    margin-right: 30px;
}

.icon_menu {
    width: 40px;
    margin: 8px 7px;   
}

.icon {
    display: inline-block;
    position: relative;
    margin-left: 2px;
}

.tooltip {
    visibility: hidden;
    background-color: #005887;
    color: white;
    text-align: center;
    padding: 3px 6px;
    border-radius: 5px;
    position: absolute;
    bottom: -8px; /* Position above the icon */
    left: 50%;
    transform: translateX(-50%);    
    transition: opacity 0.3s;
    white-space: nowrap;
    font-size: 12px;
    font-weight: bold;
  }
  
 .icon:hover .tooltip {
    visibility: visible;
  }